<% content_for :open_invoice_nested_layout do %>
  <header>
    <%= render partial: 'open_invoice/header/nav' %>
  </header>

  <main class="container mt-3">
    <%= render partial: 'open_invoice/header/flash' %>
    <%= yield %>
  </main>
<% end %>

<%= render template: 'layouts/open_invoice/application' %>
